http:
  routers:
    to-backend:
      rule: "PathPrefix(`/`)"
      service: backend
      entryPoints:
        - web

  services:
    backend:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1:8081"
