entrypoint:
  - name: web
    address: ":8080"

services:
  - name: service-1
    proto: http1
    endpoints:
      - "http://127.0.0.1:9001"

routes:
  - name: route-1
    match:
      host: "app.example.com"
      path_prefix: "/api"
    service: service-1
